<div class="home-container">
  <div class="image-section">
    <div class="circle-animation">

      <img *ngIf="profileImageUrl" [src]="profileImageUrl" alt="Profile" class="profile-img" />
    </div>
  </div>

  <div class="text-section">
    <h1>Hi, I'm <span class="highlight">Deepika</span></h1>
    <h2><span class="typed-text"></span><span class="cursor">|</span></h2>

    <div class="profile-bio">
      <p>
        I build clean, scalable, and responsive web applications using <strong>Angular</strong> & <strong>Node.js</strong>. With a strong focus on
        performance and user experience, I aim to craft intuitive interfaces and
        efficient backends. I’m passionate about turning complex problems into simple,
        beautiful, and maintainable solutions.
      </p>
    </div>

    <div class="button-group">
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=deepika@email.com"
         target="_blank"
         class="btn contact-btn">
        <i class="fas fa-envelope"></i> Contact
      </a>
              
      
      <a *ngIf="resume" [href]="homeService.downloadResumeUrl(resume.filename)" download class="btn resume-btn">
        <i class="fas fa-download"></i> Resume
      </a>
    </div>

    <div class="social-icons">
      <a href="https://github.com/deepikaverma2906" target="_blank"><i class="fab fa-github"></i></a>
      <a href="https://www.linkedin.com/in/deepika-verma-831bba285/" target="_blank"><i class="fab fa-linkedin"></i></a>
      <a href="https://mail.google.com/mail/?view=cm&to=deeparv296@gmail.com" target="_blank">
        <i class="fas fa-envelope"></i>
      </a>
    </div>
  </div>

  <!-- <footer class="footer">© 2025 Deepika | All rights reserved</footer> -->