<div class="footer">
    <div class="footer-content">
      <div class="footer-column">
        <!-- <h3>Pages</h3> -->
        <ul>
          <li><a (click)="scrollTo('home')">› Home</a></li>
          <li><a (click)="scrollTo('about')">› About Me</a></li>
          <li><a (click)="scrollTo('skills')">› Skills</a></li>
          <li><a (click)="scrollTo('projects')">› Projects</a></li>
          <li><a (click)="scrollTo('experience')">› Experience</a></li>
          <li><a (click)="scrollTo('contact')">› Contact</a></li>
        </ul>
      </div>
  
      <div class="footer-column">
        <h3>Contact Me</h3>
        <p>Let’s connect and create something amazing together!</p>
        <p>📞 +91-9009999096</p>
        <p>📧 deeparv296@gmail.com</p>
  
        <!-- Social Icons Below Email -->
        <div class="social-icons">
          <a href="https://github.com/deepikaverma2906" target="_blank"><i class="fab fa-github"></i></a>
          <a href="https://www.linkedin.com/in/deepika-verma-831bba285/" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="https://mail.google.com/mail/?view=cm&to=deeparv296@gmail.com" target="_blank"><i class="fas fa-envelope"></i></a>
          <a href="https://www.facebook.com/deepika.nimaje" target="_blank"><i class="fab fa-facebook"></i></a>
        </div>
      </div>
    </div>
  
    <div class="footer-bottom">
      <p>All Rights Reserved. © 2025 Deepika Verma</p>
    </div>
  </div>
  